body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --body-text: #336699;
    --basic-background: #fff;
    --background-color: #336699;
    --white-text: #FFFFFF;
    --duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
    padding: 0 20px;
    max-width: 320px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 32px;
        max-width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        padding: 0 16px;
        max-width: 1280px;
    }
}


header {
    text-align: center;
    background-color: var(--background-color);
    color: var(--white-text);
    padding: 80px 0;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    
}

header p {
    font-size: 1.2em;
}

section {
    background-color: var(--basic-background);
    box-shadow: 0 0 10px rgba(51, 102, 153, 0.4);
    margin: 30px 0;
    padding: 40px 0;
}

h2 {
    color: var(--body-text);
    border-bottom: 2px solid var(--body-text);
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-size: 1.8em;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

.img-project {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(51,102,153, 0.4);
}

@media screen and (min-width: 768px) {

    .img-project {
        max-width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .img-project {
        max-width: 380px;
    }
}

.project {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

@media screen and (min-width: 1280px){
    .project {
        flex-direction: row;
    }
}

.project-link {
    cursor: pointer;
    border: 2px solid var(--body-text);
    background-color: transparent;
    border-radius: 20px;
    padding: 4px 50px;
    transition: box-shadow var(--duration) var(--timing-function);
}
    
.project-link:hover,
.project-link:focus {
    box-shadow: 0 0 10px rgba(51, 102, 153, 0.4);
}

.connect-link {
    color: var(--body-text);
    font-style: normal;
    text-decoration: none;
    transition: color var(--duration) var(--timing-function);
}

.connect-link:hover,
.connect-link:focus {
    color: #1daee3;
}

footer {
    text-align: center;
    background-color: #333;
    color: var(--white-text);
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}